/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.registro-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

p {
    color: #666;
    margin-bottom: 2rem;
}

/* Barra de progreso */
.progress-bar {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.progress {
    height: 10px;
    background-color: #005791;
    width: 0%;
    transition: width 0.4s ease;
}

/* Secciones del formulario */
.form-section {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-section h3 {
    color: #207dbb;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* Campos del formulario */
label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #2c3e50;
    display: block;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #3498db;
    outline: none;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* En styles_perfil.css */
input[type="tel"], 
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-section h3 {
    margin-top: 20px;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {

    .registro-card {
        padding: 0.8rem;
        max-width: 95%;
    }    

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    .form-section h3 {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="date"],
    select {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    button {
        font-size: 0.9rem;
    }
}